@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ReferImg {
  box-sizing: border-box;
  color: transparent;
  width: auto;
  height: auto;
  /* overflow: hidden; */
  padding-top: 3rem;
  padding-left: 8rem;
}


.box {
  display: inline-block;
  width: 50%;
  float: left;
  /* min-width: 420px; */
}

.leftSide {
  min-height: 440px;
}
